body {
  background:#000;
  margin:0;
}

h1 {
  font: Bold 55px 'Arial Black', Tahoma, Helvetica, sans-serif;
  letter-spacing: -2px;
  line-height: 40px;
  text-align: center;
  color:#e42a54;
  padding: 40px 0 0px 0;
  margin-bottom:0;
}

a:link, a:visited { color:#000; }
a:hover, a:active { color:#e42a54; }

.photo {
  text-align:center;
  margin:10px 0;
  background:#eee;
}

#main {
  background:#fff;
}

.post h2 {
  font-weight:bold;
  margin-bottom:10px;
}
#title h2 {
  font-size:14px;
  font-weight:normal;
  text-align: center;
  color:#e42a54;
  margin-bottom:40px;
}
h1 a:link, h1 a:visited {
  color:#40343f;
  text-decoration:none;
}
h1 a:hover, h1 a:active {
  color:#e42a54;
  text-decoration:none;
}
h2 a:link, h2 a:visited {
  color:#40343f;
  text-decoration:none;
}
h2 a:hover, h2 a:active {
  color:#e42a54;
  text-decoration:none;
}

.date {
  background:#fcca42;
  padding:0 4px;
}
#portrait { color:#000; }
#claudio {
  height:100%;
  position: fixed;
  color:#000;
}
#claudio img {
  position:absolute;
  bottom:0;
}

#sitenav {
  color:#e42a54;
  font-size:18px;
  margin-top:120px;
  margin-bottom:15px;
}

#sitenav a:link, #sitenav a:visited {
  background:#e42a54;
  color:#fff;
  padding:0 4px;
  text-decoration:none;
}
#sitenav a:hover, #sitenav a:active {
  background:#fcca42;
  color:#000;
  text-decoration:none;
}
.post h2 a:link, .post h2 a:visited {
  background:#fcca42;
  color:#000;
  padding:0 8px;
  text-decoration:none;
}
.post h2  a:hover, .post h2  a:active {
  background:#e42a54;
  color:#fff;
  text-decoration:none;
}
.post h2 span {
  background:#fcca42;
  color:#000;
  padding:0 8px;
  text-decoration:none;
}

#vcard {color:#e42a54;
}
.post {
  padding:0 15px 15px 15px;
}

#tagscloud {
  margin-bottom:15px;
}
#tagscloud h3 {
  margin-bottom:5px;
  color:#fcca42;
}
#morelinks h3 {
  margin-bottom:5px;
  color:#fcca42;
}
a:link.tag, a:visited.tag {
  background:#fcca42;
  color:#000;
  text-decoration:none;
}
a:hover.tag, a:active.tag {
  background:#e42a54;
  color:#fff;
  text-decoration:none;
}
.tag {
  background:#fcca42;
  padding:0 4px;
  color:#000;
  font-weight:bold;
}
#copy {
  color:#999;
  margin-top:15px;
  padding:0px 15px;
  border-top:1px solid #eee;
}

.taglist {
  display:block;
  text-align:right;
}
.taglist a:link, .taglist a:visited {
  background:#fcca42;
  color:#000;
  text-decoration:none;
}
.taglist a:hover, .taglist a:active {
  background:#e42a54;
  color:#fff;
  text-decoration:none;
}

.commentsblock {
  padding:0 15px;
}
#primary {
  padding:0 15px;
}
.entrybody {
font-size: 14px;
line-height: 1.4em;
}
.entrybody p {
margin-bottom:15px;
}
#banner { padding:0 15px 20px 15px; }
.about {
  font-size:120%;
}
.about p {margin-bottom:10px;}